body {
  font-family: "Times New Roman", Times, serif;
  background-color: antiquewhite;
  padding: 10px;
}

header {
  text-align: center;
  padding: 10px;
}

.budsjett,
.resultat {
  background-color: rgba(60, 28, 7, 0.701);
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 16px;
}

input,
select {
  padding: 3px;
  margin-bottom: 1px;
}

button {
  padding: 7px 10px;
  background-color: rgba(60, 28, 7, 0.701);
  color: white;
  border: none;
  border-radius: 8px;
}

input:focus,
select:focus {
  background-color: rgb(197, 180, 160);
}

button:hover {
  background-color: rgb(98, 53, 11);
}
